.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer__cold-water-img {
  width: 165px;
  height: 55px;
}

.timer__time-text {
  font-size: 25px;
  color: #eff4fa;
  text-shadow:
    0 0 10px rgb(0 72 255 / 50%),
    0 0 6px rgb(181 186 244 / 60%),
    0 0 10px rgb(224 215 249 / 50%);
}
