.game-page {
  min-height: 600px;
}

.game-page__tree-image {
  width: 300px;
  height: 300px;
  position: absolute;
  right: 0;
  bottom: 100px;
}

.game-page__snow-drift-image {
  position: absolute;
  bottom: 80px;
  height: 60px;
  width: 100%;
}

.game-page__snow-man-image {
  position: absolute;
  left: 20px;
  bottom: 80px;
  height: 200px;
  cursor: pointer;
}

.game-page__background {
  background-repeat: no-repeat;
  background-size: cover;
}

.game-page__sign-image {
  position: absolute;
  bottom: 80px;
  right: 20px;
  cursor: pointer;
}

.game-page__location-info-active {
  display: block;
  position: absolute;
  left: 200px;
  bottom: 150px;
  background: var(--white-color);
  padding: 10px;
  width: 150px;
  border-radius: 8px;
  box-shadow:
  0 1px 3px 0 var(--box-shadow-color),
  0 1px 1px 0 var(--box-shadow-color),
  0 2px 1px 0 var(--box-shadow-color);
}

.game-page__location-info {
  display: none;
}