.profile-page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.profile-container {
    box-sizing: border-box;
    display: grid;
    grid-template-areas: "avatar"
                         "scores"
                         "settings";
    gap: 34px;
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    flex-grow: 1;
    background-color: var(--login-container-bg);

    @media (min-width: 768px) {
        grid-template-areas: "avatar settings scores";
        grid-template-columns: minmax(190px,290px) minmax(300px, 550px) minmax(190px,290px);
        padding: 2.5vw 5vw;
    }
}

.profile-box {
    box-sizing: border-box;
    padding: 24px;
    background-color: var(--white-color);
    box-shadow: 0 1px 3px 0 var(--box-shadow-color), 0 1px 1px 0 var(--box-shadow-color), 0 2px 1px 0 var(--box-shadow-color);
    border-radius: 4px;
}

.profile-box_avatar {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    max-height: 260px;

    grid-area: avatar;
}

.profile-box_settings {
    grid-area: settings;
    text-align: center;
}

.profile-box_scores {
    display: flex;
    align-items: center;
    grid-area: scores;
    max-height: 90px;
}

.profile-avatar {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}

.profile-upload {
    width: 100%;
}

.profile-scores_right {
    margin-left: 16px;
}

.profile-scores_count {
    line-height: 1;
}

.profile-scores_left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: #F1DEFF;
    border-radius: 12px;
}

.warning-message {
    opacity: 1;
    color: var(--warning-color);
    font-size: 1em;
    min-height: 54px;
    margin: 10px 0;
    text-align: center;
}

.invisible-message {
    font-size: 1em;
    min-height: 54px;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    margin: 10px 0;
}
