.forum-container {
  padding: 2.5vw 5vw;
}

.forum-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 400px;
  overflow-y: auto;
  padding: 16px;
}

.topics {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.forum-title {
  margin-bottom: 45px;
  text-shadow: 0 4px 4px rgb(var(--black-color) 0.25);
}
