.forum-container {
  padding: 2.5vw 5vw;
}

.forum-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 400px;
  overflow-y: auto;
  padding: 32px 24px;
}

.topics {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  justify-content: space-between;
  align-items: center;
  row-gap: 24px;
  margin-bottom: 64px;
}

.forum-title {
  margin-bottom: 45px;
  text-shadow: 0 4px 4px rgb(var(--black-color) 0.25);
}
