:root {
  --black-color: 0, 0, 0;
  --white-color: #fff;
  --color-text: #1c1c1c;
  --box-shadow-color: #0000001f;
  --login-container-bg: #e0e0ec;
  --warning-color: #ff2f2f;
  --success-color: #43ff00;
  --link-hover-color: #ab47bc;
  --icon-wrap-color: 241, 222, 255;
  --icon-color: 168, 108, 228;
}

:root[theme="dark"] {
  --black-color: 0, 0, 0;
  --white-color: #0d335e;
  --color-text: #fff;
  --box-shadow-color: rgb(160 160 160 / 7%);
  --login-container-bg: #232325;
  --warning-color: #ff2f2f;
  --success-color: #43ff00;
  --link-hover-color: #ab47bc;
  --icon-wrap-color: 241, 222, 255;
  --icon-color: 168, 108, 228;
}
