.login-content {
    width: 520px;
    height: 400px;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.login-sign-up-link {
    align-self: flex-end;
}

.login-sign-up-link:hover {
    color: var(--link-hover-color);
}



