.leaderboard-page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.leaderboard-container {
    padding: 2.5vw 5vw;
}

.leaderboard-content {
    width: 100%;
    height: 400px;
    padding: 16px;
}

.leaderboard-title {
    margin-bottom: 45px;
    text-shadow: 0 4px 4px rgba(var(--black-color), 0.25);
}

.leaderboard-field {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 100px 100px;
    gap: 15px;
    min-height: 54px;
    border-bottom: 1px solid rgba(var(--black-color), 0.08);
}

.leaderboard-field:last-of-type {
    border: 0;
}

.leaderboard-name {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
