
.notfound-container {
    padding: 10vh 5vw;
}

.notfound-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    overflow-y: auto;
    padding: 16px;
    background-color: var(--white-color);
    box-shadow: 0 1px 3px 0 var(--box-shadow-color), 0 1px 1px 0 var(--box-shadow-color), 0 2px 1px 0 var(--box-shadow-color);
    border-radius: 4px;
}
